pandas==0.25.3
s3fs==0.4.0
Scrapy==1.8.0
tensorflow_datasets==2.1.0
joblib==0.14.1
tensorflow==2.1.0
boto3==1.12.3
tensorflow_hub==0.7.0
Keras==2.3.1
requests==2.22.0
Flask==1.1.1
h5py==2.10.0
metaflow==2.0.2
numpy==1.17.4
azure_storage==0.36.0
scikit_learn==0.22.2.post1
unicode_slugify==0.1.3
